/* Applied to all elements */
* { 
    box-sizing: border-box;
    color: black;
}

/* Applied to elements with class="class1" */
.class1 {
    color: black;
}

/* Applies to elements with id="mainPoint" */
#mainPoint {
    font-size: 30px;
}

/* Applied to p elements */
p {
    color: maroon;
    font-size: 20px;
    width: 200px;
}

/* Applied to h1 & h2 elements */
h1, h2 {
    color: black;
    font-size: 30px;
    text-align: center;
}

/* Applies to all <span> elements with class="highlight" */
span.highlight {
    color: cyan;
}